@model IEnumerable<Proizvod>

@{
    ViewData["Title"] = "Proizvodi";
}

<h2>Proizvodi</h2>


<table class="table table-bordered table-striped" style="border:2px solid black">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Opis
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Proizvodjac
            </th>
            <th>
                Dobavljac
            </th>
            <th>
                Cena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Naziv
                </td>
                <td>
                    @item.Opis
                </td>
                <td>
                    @item.Kategorija
                </td>
                <td>
                    @item.Proizvodjac
                </td>
                <td>
                    @item.Dobavljac
                </td>
                <td>
                    @item.Cena
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
