@model IEnumerable<Proizvod>

@{
    ViewData["Title"] = "Proizvodi";
}

<h2>Proizvodi</h2>

<p>
    <a asp-action="Create">Kreiraj nov proizvod</a>
</p>
<table class="table table-bordered table-striped" style="border:2px solid black">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Opis
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Proizvodjac
            </th>
            <th>
                Dobavljac
            </th>
            <th>
                Cena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Naziv
                </td>
                <td>
                    @item.Opis
                </td>
                <td>
                    @item.Kategorija
                </td>
                <td>
                    @item.Proizvodjac
                </td>
                <td>
                    @item.Dobavljac
                </td>
                <td>
                    @item.Cena
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProizvodId">Promeni</a> |
                    @*<a asp-action="Details" asp-route-id="@item.ProizvodId">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.ProizvodId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
